@page "/Squad/Rules"
<PageTitle>Правила</PageTitle>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<h2>Правила</h2>
<h3>
    Правила по принятию в сквад:<br />
    1.С принятием человека проводится стандратное голосование.
    Также если человек из сквада кикается то проводится голосование.
    2.Перед тем как принять человека в сквад должно пройти собеседование с ним,а также удалять/добавлять людей в группу без спроса запрещается.
    Правила по админке в скваде:
    1.Чтобы получить админку нужно быть близким другом всем 6 админам
    2.Если с человека надо снять админку то объявляется голосование.
    Роли:Степа-главный по собеседованиям<hr />
    Семён-главный модер<br />
    Гоша-зазывала<hr />
    3.никто не должен оскорблять, унижать админов, так как в скваде это ему плохо
    4. Кикать можно только с помощью владельца
    5. Кто это будет писать- тот мото мото водичка
    6. Нельзя прогуливать физру без меня (можно)
    7.В группе никаких женщин не должно быть.
    8.Если кто то выдвигает свою кандидатуру по кику человека из сквада,то суд/голосование.
    9.С вуминами можно общаться только в том случае если надо что то списать.
    10. Если нарушаешь 1 (максимум 2 раза) правила сигмы сквада, то кик на неделю
    <hr />
    11.Вумин нормальные люди только в 2 случаях: <br/>
    1.если вумин считается роднёй какому то участнику сквада.<br />
    2.если вумин адекватная <br /> 
    3. Миша прышавое уёбище<br />
    <hr />
    12.Програмисткие мемы кринжуха полная.
    13.Запрещено спамить.
    <hr />
    Как работает получение админки:
    Админка зарабатывается поступками,делами,и поддерживанием хорошего отношения с админами.
    Также админка даётся автоматически через полгода нахождения в Sigma Squad.
</h3>